.button  {
    width:30px;
    height:30px;
    background: #B22222;
    border:2px ;
    border-radius:5px;
    color:white;
} 
.buttonasc {
    width:70px;
    height:30px;
    background: #B22222;
    border:2px ;
    border-radius:5px;
    color:white;
}
.button:hover {
    animation:butspin 1s infinite;
}
@keyframes butspin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
@keyframes asc{
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-30deg);
    }
    60%{
        transform: rotate(30deg);
    }
    100% {
        transform: rotate();
    }
}
.buttonasc:hover{
    animation:asc 1s infinite;
}

